<form name="create" (ngSubmit)="save(marker, playground)">
  <fieldset [disabled]="loading">
    <div class="ph-lg">
      <h4 class="mv-md">{{i18n.details}}</h4>

      <!-- Address -->
      <label>
        <div class="mb-xs">{{i18n.address.label}}</div>
        <input #addressInput class="w-100p" type="text" name="address" [placeholder]="i18n.address.placeholder" [(ngModel)]="playground.address" required data-hj-whitelist />
      </label>
      <div *ngIf="addressSuggestion" class="addressSuggestion flex ai-center mb-sm">
        <small class="addressSuggestion__text">
          <b>{{i18n.address.suggestion}}:</b>
          <div>{{addressSuggestion}}</div>
        </small>
        <button class="border-neutral pd-sm" type="button" (click)="setAddressToSuggestion()">{{i18n.address.button}}</button>
      </div>

      <!-- Title -->
      <label>
        <div class="mb-xs">{{i18n.title.label}}</div>
        <input class="w-100p" type="text" name="title" [placeholder]="i18n.title.placeholder" [(ngModel)]="playground.title" required />
      </label>
    </div>

    <hr class="mv-md" />

    <div class="ph-lg">
      <!-- Sports -->
      <h4 class="mv-md">{{i18n.sports.label}}</h4>
      <label *ngFor="let sport of sports" class="checkbox flex ai-center pointer">
        <input type="checkbox" name="sport_{{sport}}" [(ngModel)]="playground.sports[sport]" />
        <span class="checkbox-replacement"></span>
        {{sport | capitalize}}
      </label>
    </div>

    <hr class="mv-md" />

    <div class="ph-lg">
      <!-- Needs -->
      <h4 class="mv-md">{{i18n.needs.label}}</h4>
      <label *ngFor="let need of needs" class="checkbox flex ai-center pointer">
        <input type="checkbox" name="need_{{need}}" [(ngModel)]="playground.needs[need]" />
        <span class="checkbox-replacement"></span>
        {{need | capitalize}}
      </label>
    </div>

    <hr class="mv-md" />

    <div class="ph-lg">
      <!-- Images -->
      <h4 class="mb-xs">{{i18n.images.label}}</h4>
      <div class="mb-sm color-foreground-lighter"><small>{{i18n.images.description}}</small></div>

      <div class="images__container">
        <AspectRatioContainer x="4" y="3" *ngFor="let imageUrl of playground.imageUrls" class="br-md bg-neutral-light">
          <img class="image absolute stretch br-md" [src]="imageUrl" />
          <div class="image__remove br-50p pointer" (click)="removeImage(imageUrl)">✖</div>
        </AspectRatioContainer>

        <AspectRatioContainer *ngIf="uploading" x="4" y="3" class="br-md bg-neutral-light">
          <div class="upload__container absolute stretch">
            <Loader></Loader>
          </div>
        </AspectRatioContainer>
      </div>

      <button class="images__addButton relative w-100p bg-neutral-lighter color-primary border-primary" type="button">
        + {{i18n.images.button}}

        <input
          class="images__input absolute stretch pointer"
          type="file" name="imageUrls[]" accept="image/*" (change)="uploadImages($event.currentTarget.files)"
          multiple
        />
      </button>
    </div>

    <hr class="mv-md" />

    <div class="ph-lg">
      <!-- Additional info -->
      <h4 class="mb-xs">{{i18n.text.label}}</h4>
      <div class="mb-sm color-foreground-lighter"><small>{{i18n.text.description}}</small></div>
      <textarea class="w-100p" name="text" [placeholder]="i18n.text.placeholder" rows="6" [(ngModel)]="playground.text" data-hj-whitelist></textarea>
    </div>

    <hr class="mv-md" />

    <div class="ph-lg">
      <!-- Name -->
      <input class="w-100p" type="text" name="name" [placeholder]="i18n.name.placeholder" [(ngModel)]="playground.name" required />

      <!-- Email -->
      <input class="w-100p" type="email" name="email" [placeholder]="i18n.email.placeholder" [(ngModel)]="playground.email" required />

      <!-- Submit -->
      <button class="w-100p bg-primary color-neutral-lighter" type="submit">
        {{playground.id == null ? i18n.button.create : i18n.button.update}}
      </button>
    </div>
  </fieldset>
</form>
