.images__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0.6rem;
}

.image {
  box-shadow: var(--box-shadow);
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.image__remove {
  --size: 24px;

  position: absolute;
  top: -5px;
  right: -5px;

  transition: all var(--transition-duration) var(--transition-easing);
  border: 2px solid var(--neutral-lighter);
  background: var(--neutral);
  width: var(--size);
  height: var(--size);
  text-align: center;
  line-height: calc(var(--size) - 2px); /* MAGIC */
  color: var(--neutral-lighter);
}

.image__remove:hover {
  transform: scale(1.25);
}

.images__addButton {
  font-weight: 500;
}

.upload__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* https://stackoverflow.com/questions/210643/in-javascript-can-i-make-a-click-event-fire-programmatically-for-a-file-input */
.images__input {
  opacity: 0;
  width: 100%;
}
