.images {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.remove {
  --size: 24px;

  position: absolute;
  top: -5px;
  right: -5px;

  transition: all var(--animation-duration) var(--animation-easing);
  border: 2px solid var(--neutral-lighter);
  background: var(--neutral);
  width: var(--size);
  height: var(--size);
  text-align: center;
  line-height: calc(var(--size) - 2px); /* MAGIC */
  color: var(--neutral-lighter);
}

.remove:hover {
  transform: scale(1.25);
}

.upload-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.upload-text {
  transition: all var(--animation-duration) var(--animation-easing);
}

.upload:hover .upload-text {
  transform: scale(1.25);
}

/* https://stackoverflow.com/questions/210643/in-javascript-can-i-make-a-click-event-fire-programmatically-for-a-file-input */
.upload-input {
  opacity: 0;
  width: 100%;
}

.sport,
.need {
  display: block;
}
