<form name="login" (ngSubmit)="login(data.login)">
  <input type="email" name="email" [(ngModel)]="data.login.email" required autofocus />
  <input type="password" name="password" [(ngModel)]="data.login.password" required />
  <button type="submit">Вход</button>
</form>

или създай нов акаунт

<form name="register" (ngSubmit)="register(data.register)">
  <input type="email" name="email" [(ngModel)]="data.register.email" required autofocus />
  <input type="password" name="password" [(ngModel)]="data.register.password" required />
  <input type="password" name="passwordConfirmation" [(ngModel)]="data.register.passwordConfirmation" required />
  <button type="submit">Създай нов акаунт</button>
</form>
