<form class="ph-lg" name="anonymousLogin" (ngSubmit)="anonymousLogin()">
  <fieldset [disabled]="loading">
    <div class="mv-md"></div>
    <button class="w-100p bg-neutral-lighter color-primary border-primary" type="submit">{{i18n.anonymousLogin}}</button>
  </fieldset>
</form>

<hr class="mv-md" />

<form class="ph-lg" name="login" (ngSubmit)="login(data.login)">
  <fieldset [disabled]="loading">
    <h4>{{i18n.orLogin}}</h4>
    <div class="mv-md"></div>

    <!-- <button type="button" (click)="facebookLogin()">
      <img src="assets/facebook.svg" />
      Вход с Facebook
    </button> -->

    <label class="block">
      {{i18n.email}}
      <input class="block w-100p" type="email" name="email" [(ngModel)]="data.login.email" required autofocus />
    </label>

    <label class="block">
      {{i18n.password}}
      <input class="block w-100p" type="password" name="password" [(ngModel)]="data.login.password" required />
    </label>

    <button class="w-100p bg-primary color-neutral-lighter" type="submit">{{i18n.login}}</button>
  </fieldset>
</form>

<hr class="mv-md" />

<form class="ph-lg" name="register" (ngSubmit)="register(data.register)">
  <fieldset [disabled]="loading">
    <h4>{{i18n.orRegister}}</h4>
    <div class="mv-md"></div>

    <!-- <button type="button" (click)="facebookRegister()">
      <img src="assets/facebook.svg" />
      Регистрация с Facebook
    </button> -->

    <!-- <label class="block">
      {{i18n.name}}
      <input class="block w-100p" type="text" name="name" [(ngModel)]="data.register.name" required />
    </label> -->

    <label class="block">
      {{i18n.email}}
      <input class="block w-100p" type="email" name="email" [(ngModel)]="data.register.email" required />
    </label>

    <label class="block">
      {{i18n.password}}
      <input class="block w-100p" type="password" name="password" [(ngModel)]="data.register.password" required />
    </label>

    <label class="block">
      {{i18n.passwordConfirmation}}
      <input class="block w-100p" type="password" name="passwordConfirmation" [(ngModel)]="data.register.passwordConfirmation" required />
    </label>

    <button class="w-100p bg-primary color-neutral-lighter" type="submit">{{i18n.register}}</button>
  </fieldset>
</form>
