@import 'style/variables';

@import '~compote/style/reset';
@import '~compote/style/flex';
@import '~compote/style/form';
@import '~compote/style/spacing';
@import '~compote/style/text';

@import 'style/animations';
@import 'style/colors';
@import 'style/global';
@import 'style/positioning';
@import 'style/responsive';

#content { // sass-lint:disable-line no-ids
  @include overflow(hidden, auto);

  background: $neutral-lighter;

  position: relative;
  transition: left $animation-duration $animation-easing;
  left: 0;
  z-index: 10;

  @media (max-width: $xs-max) {
    &.collapsed {
      left: -100%;
    }
  }
}
