@import './reset.css';
@import './variables.css';

*, *:before, *:after {
  box-sizing: inherit;
}

html,
body {
  box-sizing: border-box;
  height: 100%;
  font-family: var(--font-family);
  font-size: var(--font-size);
  color: var(--foreground);
}

body {
  line-height: 1.2;
  background: var(--neutral-lighter);
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  color: var(--foreground-dark);
  font-weight: inherit;
}

h1, .h1 { font-size: var(--h1-font-size); }
h2, .h2 { font-size: var(--h2-font-size); }
h3, .h3 { font-size: var(--h3-font-size); }
h4, .h4 { font-size: var(--h4-font-size); }
h5, .h5 { font-size: var(--h5-font-size); }
h6, .h6 { font-size: var(--h6-font-size); }

fieldset {
  margin: 0;
  border: 0;
  padding: 0;
}

iframe {
  border: 0;
}

label {
  font-size: 1rem;
}

input[type="checkbox"] {
  margin: 0.4rem;
}

input[type="text"],
input[type="email"],
input[type="password"],
button,
textarea {
  margin-bottom: 1rem;
  border-radius: 4px;
  padding: 1rem var(--spacing-md);
  font-family: inherit;
  font-size: 1rem;
}

button > img {
  margin: -2px 4px 0 0;
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
  border: 1px solid var(--foreground-lighter);
}

input[type="button"],
button {
  margin-top: 1rem;
  border: 0;
}

textarea {
  resize: vertical;
  min-height: 3.5rem;
}

hr {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  border: 0;
  border-top: 1px solid var(--foreground-lighter);
}

::-webkit-scrollbar-track {
  margin: -0.5rem 0;
}

::-webkit-scrollbar {
	width: 4px;
}

::-webkit-scrollbar-thumb {
	background-color: #CCE0EF;
  border-radius: 4px;
}

/* Colors */
.border-foreground      { border: 1px solid var(--foreground);      }
.border-neutral         { border: 1px solid var(--neutral);         }
.border-neutral-light   { border: 1px solid var(--neutral-light);   }
.border-neutral-lighter { border: 1px solid var(--neutral-lighter); }
.border-primary         { border: 1px solid var(--primary);         }
.border-success         { border: 1px solid var(--success);         }
.border-info            { border: 1px solid var(--info);            }
.border-warning         { border: 1px solid var(--warning);         }
.border-danger          { border: 1px solid var(--danger);          }

.bg-foreground { background: var(--foreground); }
.bg-neutral { background: var(--neutral); }
.bg-neutral-light { background: var(--neutral-light); }
.bg-neutral-lighter { background: var(--neutral-lighter); }
.bg-primary { background: var(--primary); }
.bg-success { background: var(--success); }
.bg-info { background: var(--info); }
.bg-warning { background: var(--warning); }
.bg-danger { background: var(--danger); }
.bg-facebook { background: var(--facebook); }

.color-foreground { color: var(--foreground); }
.color-neutral { color: var(--neutral); }
.color-neutral-light { color: var(--neutral-light); }
.color-neutral-lighter { color: var(--neutral-lighter); }
.color-primary { color: var(--primary); }
.color-success { color: var(--success); }
.color-info { color: var(--info); }
.color-warning { color: var(--warning); }
.color-danger { color: var(--danger); }

/* Spacing */
.ma-0  { margin: 0; }
.ma-xs { margin: var(--spacing-xs) }
.ma-sm { margin: var(--spacing-sm) }
.ma-md { margin: var(--spacing-md) }
.ma-lg { margin: var(--spacing-lg) }
.ma-xl { margin: var(--spacing-xl) }

.mh-0  { margin-right: 0; margin-left: 0; }
.mh-xs { margin-right: var(--spacing-xs); margin-left: var(--spacing-xs); }
.mh-sm { margin-right: var(--spacing-sm); margin-left: var(--spacing-sm); }
.mh-md { margin-right: var(--spacing-md); margin-left: var(--spacing-md); }
.mh-lg { margin-right: var(--spacing-lg); margin-left: var(--spacing-lg); }
.mh-xl { margin-right: var(--spacing-xl); margin-left: var(--spacing-xl); }

.mv-0  { margin-top: 0; margin-bottom: 0; }
.mv-xs { margin-top: var(--spacing-xs); margin-bottom: var(--spacing-xs); }
.mv-sm { margin-top: var(--spacing-sm); margin-bottom: var(--spacing-sm); }
.mv-md { margin-top: var(--spacing-md); margin-bottom: var(--spacing-md); }
.mv-lg { margin-top: var(--spacing-lg); margin-bottom: var(--spacing-lg); }
.mv-xl { margin-top: var(--spacing-xl); margin-bottom: var(--spacing-xl); }

.mb-0  { margin-bottom: 0; }
.mb-xs { margin-bottom: var(--spacing-xs); }
.mb-sm { margin-bottom: var(--spacing-sm); }
.mb-md { margin-bottom: var(--spacing-md); }
.mb-lg { margin-bottom: var(--spacing-lg); }
.mb-xl { margin-bottom: var(--spacing-xl); }

.pa-0  { padding: 0; }
.pa-xs { padding: var(--spacing-xs) }
.pa-sm { padding: var(--spacing-sm) }
.pa-md { padding: var(--spacing-md) }
.pa-lg { padding: var(--spacing-lg) }
.pa-xl { padding: var(--spacing-xl) }

.ph-0  { padding-right: 0; padding-left: 0; }
.ph-xs { padding-right: var(--spacing-xs); padding-left: var(--spacing-xs); }
.ph-sm { padding-right: var(--spacing-sm); padding-left: var(--spacing-sm); }
.ph-md { padding-right: var(--spacing-md); padding-left: var(--spacing-md); }
.ph-lg { padding-right: var(--spacing-lg); padding-left: var(--spacing-lg); }
.ph-xl { padding-right: var(--spacing-xl); padding-left: var(--spacing-xl); }

.pv-0  { padding-top: 0; padding-bottom: 0; }
.pv-xs { padding-top: var(--spacing-xs); padding-bottom: var(--spacing-xs); }
.pv-sm { padding-top: var(--spacing-sm); padding-bottom: var(--spacing-sm); }
.pv-md { padding-top: var(--spacing-md); padding-bottom: var(--spacing-md); }
.pv-lg { padding-top: var(--spacing-lg); padding-bottom: var(--spacing-lg); }
.pv-xl { padding-top: var(--spacing-xl); padding-bottom: var(--spacing-xl); }

.pb-0  { padding-bottom: 0; }
.pb-xs { padding-bottom: var(--spacing-xs); }
.pb-sm { padding-bottom: var(--spacing-sm); }
.pb-md { padding-bottom: var(--spacing-md); }
.pb-lg { padding-bottom: var(--spacing-lg); }
.pb-xl { padding-bottom: var(--spacing-xl); }

/* Positioning */
.relative { position: relative; }
.absolute { position: absolute; }
.fixed { position: fixed; }
.sticky { position: sticky; }

.stretch {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.top-0 { top: 0; }
.right-0 { right: 0; }
.bottom-0 { bottom: 0; }
.left-0 { left: 0; }

.va-top { vertical-align: top; }
.va-middle { vertical-align: middle; }
.va-bottom { vertical-align: bottom; }

/* Sizing */
.w-25p { width: 25%; }
.w-50p { width: 50%; }
.w-75p { width: 75%; }
.w-100p { width: 100%; }

.h-25p { height: 25%; }
.h-50p { height: 50%; }
.h-75p { height: 75%; }
.h-100p { height: 100%; }

/* Border Radius */
.br-0   { border-radius: 0; }
.br-xs  { border-radius: calc(0.33 * var(--border-radius)); }
.br-sm  { border-radius: calc(0.66 * var(--border-radius)); }
.br-md  { border-radius: var(--border-radius); }
.br-lg  { border-radius: calc(1.33 * var(--border-radius)); }
.br-xl  { border-radius: calc(1.66 * var(--border-radius)); }
.br-xxl { border-radius: calc(2 * var(--border-radius)); }
.br-50p { border-radius: 50%; }

/* Text formatting */
.b {font-weight: bold}
.tl {text-align: left;}
.tc {text-align: center;}

/* Misc */
.flex         { display: flex;         }
.grid         { display: grid;         }
.block        { display: block;        }
.inline       { display: inline;       }
.inline-block { display: inline-block; }
.hidden       { display: none;         }

.jc-center { justify-content: center; }
.ai-center { align-items: center;     }

.pointer { cursor: pointer; }

.unselectable { user-select: none; }

.image {
  box-shadow: var(--box-shadow);
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* Navigator */
.navigator {
  cursor: pointer;
  width: 28px;
  height: 28px;

  /* https://developers.google.com/maps/documentation/javascript/examples/control-custom */
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);

  border-radius: 3px;
  margin-right: 10px;
  background: var(--neutral-lighter);
}

.navigator .navigator-dot {
  position: relative;
  top: 10px;
  left: 10px;
  width: 8px;
  height: 8px;
  background: var(--neutral);

  transition: box-shadow var(--transition-duration) var(--transition-easing);
}

.navigator:hover .navigator-dot {
  background: var(--info);
  box-shadow: 0 0 10px 2px var(--info);
}

/* Hovers */
.dim {
  opacity: 1;
  transition: all 0.25s ease-out;
}
.dim:hover,
.dim:focus {
  opacity: .75;
  transition: all .15s ease-in;
}
.dim:active {
  opacity: 1; transition: all .15s ease-out;
  transform: scale(.98);
}

.dim-and-grow {
  opacity: 1;
  transition: opacity .15s ease-in;
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: all 0.25s ease-out;
}
.dim-and-grow:hover,
.dim-and-grow:focus {
  opacity: .9;
  transition: all .15s ease-in;
}
.dim-and-grow:active {
  opacity: 1; transition: all .15s ease-out;
  transform: scale(.98);
}
