:root {
  /* Colors */
  --neutral-lighter: #ffffff;
  --neutral-light: #ebeaea;
  --neutral: #bdc3c7;
  --neutral-dark: #a5a5a5;
  --neutral-darker: #6c777f;

  --foreground-lighter: #dbdbdb;
  --foreground-light: #666666;
  --foreground: #3b4349;
  --foreground-dark: #12191e;
  --foreground-darker: #000000;

  --primary: #0064b1;
  --primary-lighter: #189bff;
  --primary-light: #0081e4;
  --primary-dark: #00477e;
  --primary-darker: #003965;

  --success: #2ecc71;
  --success-dark: #25a25a;

  --info: #3498db;
  --info-dark: #217dbb;

  --warning: #f1c40f;
  --warning-dark: #c29d0b;

  --danger: #db4437;
  --danger-dark: #bd2e22;

  --facebook: #3b5998;

  /* Spacing */
  --spacing-xs: 0.4rem;
  --spacing-sm: 0.8rem;
  --spacing-md: 1.2rem;
  --spacing-lg: 1.6rem;
  --spacing-xl: 2rem;

  /* Font */
  --font-size: 15px;
  --font-family: 'Roboto', Helvetica, sans-serif;

  --h1-font-size: 40px;
  --h2-font-size: 32px;
  --h3-font-size: 24px;
  --h4-font-size: 20px;
  --h5-font-size: 16px;
  --h6-font-size: 14px;

  /* Layout */
  --header-height: 75px;

  /* Transitions */
  --transition-duration: 0.4s;
  --transition-easing: cubic-bezier(0.25, 1, 0.25, 1); /* ease */

  /* Misc */
  --border-radius: 5px;
  --box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.18);
}
